// Merchant Sign up
.form input {
    width: 400px;
    height: 40px;
    outline: none;
    border-bottom: 1px solid black;
    opacity: 0.1;
    background-color: #F3F3F3;
}
.form {
    margin-top: 70px;
}

// Merchant login

.purple Link {
    color: #743B96;
}